{% extends "layout.html" %} {% block title %}Collaborations{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(
      to bottom,
      #6f2dbd 0%,
      #a663cc 20%,
      #b298dc 40%,
      #b8d0eb 60%,
      #b9faf8 100%
    );
  }
  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/writing.png");
  }
  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/sharing.png");
  }
</style>

<div class="col-md-3 sidebar">
</div>
<div class="col-md-9 content">
  
<h1>Collaboration</h1>
<p>Our iGEM team has engaged in meaningful collaborations with several organizations and individuals, enhancing our outreach efforts and the overall impact of our project.</p>
<h1>Ladakh Science Foundation</h1>

<figure>
    <img src="https://static.igem.wiki/teams/5346/collaboration/lsf.png" alt="Ladakh Science Foundation">
</figure>

<p>The <b>Ladakh Science Foundation</b> is committed to fostering scientific awareness and education, focusing on <b>empowering children and youth in underrepresented regions of India</b> such as Ladakh, Arunachal Pradesh, Himachal Pradesh, Karnataka, and Sikkim. The foundation promotes education, literacy, and initiatives in fields like biotechnology, information technology, renewable energy, and environmental conservation. Through its programs, the Ladakh Science Foundation aims to inspire innovation and enhance scientific literacy, driving sustainable development in these communities. </p>

<p><b>We partnered with the Ladakh Science Foundation to extend our outreach and engage students from remote regions.</b> This collaboration enabled us to bring educational sessions on <b>synthetic biology</b> and <b>computational biology</b> to students in Ladakh, where access to such advanced topics is limited. The foundation provided essential logistical support, helping us connect with local schools, setting up events, and ensuring our sessions were inclusive and accessible to students from diverse backgrounds. This partnership not only enriched the educational landscape in Ladakh but also fostered a passion for science among students who may not otherwise have had such opportunities. </p>

<h1>STEAM Vision Foundation</h1>

<figure>
    <img src="https://static.igem.wiki/teams/5346/collaboration/steamvision.png" alt="STEAM Vision Foundation">
</figure>

<p><b>STEAM Vision Foundation</b> is dedicated to shaping the future of youth through <b>accessible education</b>, inspired by leaders like Swami Vivekananda and Dr. Abdul Kalam. Founded in 2015, it pioneers STEAM education—integrating <b>S</b>cience, <b>T</b>echnology, <b>E</b>ngineering, <b>A</b>rts, and <b>M</b>athematics—to cultivate critical thinking and 21st-century skills. With a commitment to innovation and social responsibility, the foundation impacts thousands of students through workshops, mentoring programs, and community outreach, empowering them to become job creators and responsible contributors to society. </p>

<p><b>Our collaboration with the STEAM Vision Foundation allowed us to expand our reach across the country</b>. The foundation’s extensive network helped publicize our sessions to a broader audience of high school and middle school students. In addition to providing a platform for engagement, STEAM Vision Foundation played a vital role in offering financial support, particularly for awarding prizes in the competitions we organized. Their backing not only boosted participation but also enhanced the overall quality and impact of our outreach activities, making science more accessible and engaging for young learners. </p>

<h1>Collaboration with Dr. Manjula Das's Lab </h1>

<figure>
    <img src="https://static.igem.wiki/teams/5346/collaboration/mazumdar.png" alt="Mazumdar Shaw Center for Translational Research (MSCTR)">
</figure>

<p><b>Dr. Manjula Das</b> is a Principal Investigator at the <b>Mazumdar Shaw Center for Translational Research (MSCTR)</b>. She is an expert in <b>Biotherapeutics</b>, especially critical reagent and assay development (in vitro and in vivo) for regulatory submission of protein drugs. She also has established many companies, the latest being a consultancy firm named Beyond Antibody. Manjula Das with 20-years long market experience concentrates on translating basic research to products and processes for direct patient care in various areas of cancer. </b>

<p>We are collaborating with Dr. Manjula Das's lab, which has kindly provided us with purified LCN2 and MMP9 proteins. These proteins are essential for our cross-linking mass spectrometry experiments, allowing us to standardize our methodologies and advance our research. This collaboration underscores the importance of academic partnerships in facilitating cutting-edge scientific inquiry and ensuring the success of our iGEM project. </p>
</div>

{% endblock %}
