{% extends "layout.html" %} {% block title %}Project Description{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(
      to bottom,
      #edeec9 0%,
      #dde7c7 20%,
      #bfd8bd 40%,
      #98c9a3 60%,
      #77bfa3 100%
    );
  }
  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/attachments.png");
  }
  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/bussness-plan.png");
  }
</style>

<div class="col-md-3 sidebar">
  <ul>
    <li><a href="#school-visit" class="button">School Visit</a></li>
    <li><a href="#approach" class="button">Approach</a></li>
    <li><a href="#inspiration" class="button">Motivation</a></li>
    <li><a href="#references" class="button">References</a></li>
  </ul>
</div>
<div class="col-md-9 content">
  <!-- <section id="abstract">
    <div class="text">
      <h2>
        Scalable Modeling of Macromolecular Assemblies using Novel Distance
        Geometry Approaches
      </h2>
    </div>
    <div class="graphical_abstract">
      <img
        src="https://static.igem.wiki/teams/5346/ga4.jpeg"
        alt="graphical_abstract"
      />
      <figcaption class="caption">Fig.1-Graphical Abstract</figcaption>
    </div>
  </section> -->

  <section id="school-visit" class="anchor">
    <div class="text">
      <h2>School Visit</h2>
      <br />
      <p>
        We visited NPS Rajajinagar to introduce high school students to synthetic biology and the role of computational tools in advancing the field. We began with an overview of DNA and proteins, followed by a hands-on DNA extraction experiment from papaya to reinforce their understanding. A quiz on molecular biology concepts further deepened their grasp of synthetic biology. We then demonstrated how scientists use software like PyMOL to visualize protein structures, DNA, and other biomolecules. Tailoring our explanations to a 10th-grade level, we discussed biomolecular segments and relevant biophysical concepts.
        <br>
    <b>Demonstration of DNA</b>
    During the DNA extraction, we showed the students a real DNA structure, 1BNA (1bna.pdb from the Protein Data Bank), which consists of a single DNA helix. We explained DNA’s structure, base pairs, and used PyMOL to visualize the chemical structure of the compound, helping them better understand DNA’s molecular composition.
    <br>
    <b>Demonstration of Proteins</b> 
    We introduced the students to protein structures, focusing on Keratin and Haemoglobin. 
    <br>
    <b>Keratin:</b> We explained that Keratin is a structural protein found in hair, nails, and skin. We discussed how the structure of keratin differs in hair and nails, emphasizing the role of alpha-keratin in hair and beta-keratin in nails. We also addressed why vertical lines appear in nails, linking this to the arrangement of beta-keratin.
    <br>
    <b>Haemoglobin:</b> We explained that Haemoglobin is responsible for carrying oxygen in the blood. Using the 1a3n.pdb file, we showed its tetrameric structure, consisting of four subunits, and highlighted how iron in haemoglobin binds to oxygen. We also demonstrated how its structure changes when binding to oxygen and how it releases oxygen when reaching tissues. PyMOL helped illustrate the oxygen-binding sites, providing a clearer understanding of this crucial protein. 
    <br>
    These demonstrations enhanced the students' understanding of common proteins in the body and the significance of molecular structures in synthetic biology.
    </p>
    </div>
  </section>

  <section id="approach" class="anchor">
    <div class="text">
      <h2>Approach</h2>
      <br />
      <p>
        IMP is a powerful tool for modeling macromolecular assemblies, but
        several challenges must be addressed to enhance its accuracy and extend
        the scope of its applications. These challenges include optimizing model
        representation, expanding the variety of computable models, and
        incorporating diverse types of data. Additionally, there is a need for
        improved methods to score models, sample models, and analyze and
        interpret results. Currently, IMP employs Markov Chain Monte Carlo
        (MCMC) sampling to explore the space of possible models, which can be
        computationally expensive and slow. To address this, we propose
        developing an IMP-based software tool that models the structure of
        macromolecular assemblies using a bottom-up approach.
        <br />
        <br />
        Ourapproach will utilize the Distance Restraint and Energy Assisted
        Modeling (DREAM) algorithm, a novel method for modeling the structure of
        macromolecular assemblies. This algorithm follows a bottom-up strategy,
        building smaller substructures for regions with a high concentration of
        experimental data and consolidating them before modeling the rest of the
        protein-complex structure. This method improves structure conformance in
        the final models, ensuring higher compliance with experimental data. It
        provides a faster and scalable approach to modeling macromolecular
        assemblies by using a parallel-processed single-step assembly of
        complexes, as opposed to the conventional iterative assembly.
      </p>
    </div>
  </section>

  <section id="inspiration" class="anchor">
    <div class="text">
      <h2>Motivation</h2>
      <br />
      <p>
        Proteins are the driving forces behind cellular processes, participating
        in various biological functions such as signal transduction, gene
        regulation, and cell division. They do not act in isolation but
        collaborate with other proteins to form macromolecular assemblies. These
        assemblies are crucial for the cell’s proper functioning, performing
        complex tasks that no single protein can accomplish alone. Understanding
        the structure and dynamics of these assemblies is key to comprehending
        biological systems.<br /><br />
        However, the inability to determine the structure of macromolecular
        assemblies has been a significant obstacle in structural biology.
        Initially, NMR problems were addressed using distance geometry, but its
        lack of scalability limited its utility. This led to a focus on
        molecular dynamics, MCMC, and other methods, which are computationally
        intensive. Modeling the structure and dynamics of macromolecular
        assemblies can provide in sights into the workings, evolution, control,
        and design of biological systems. Our iGEM project aims to use
        Integrative Modeling Platform (IMP) with the DREAM algorithm to build
        models of macromolecular assemblies using a bottom-up approach,
        overcoming existing bottlenecks.
      </p>
    </div>
  </section>

  <section id="references" class="anchor">
    <div class="text">
      <h2>References</h2>
      <p>
        [1]
        <a
          href="https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001244"
          target="_blank"
          >Russel D, Lasker K, Webb B, Velázquez-Muriel J, Tjioe E, et al.
          (2012) Putting the Pieces Together: Integrative Modeling Platform
          Software for Structure Determination of Macromolecular Assemblies.
          PLoS Biol 10(1): e1001244. doi:10.1371/journal.pbio.1001244</a
        >
      </p>
      <p>
        [2]
        <a href="https://doi.org/10.1016/j.jbc.2021.100743" target="_blank"
          >Andrej Sali, From integrative structural biology to cell biology,
          Journal of Biological Chemistry, Volume 296, 2021, 100743, ISSN
          0021-9258, https://doi.org/10.1016/j.jbc.2021.100743</a
        >
      </p>
      <p>
        [3]
        <a href="https://arxiv.org/abs/2401.17894v4" target="_blank"
          >Arvindekar, Shreyas, Kartik Majila, and Shruthi Viswanath. "Recent
          methods from statistical inference and machine learning to improve
          integrative modeling of macromolecular assemblies." arXiv preprint
          arXiv:2401.17894 (2024).</a
        >
      </p>
      <p>
        [4]
        <a href="https://doi.org/10.1002/pmic.202300379" target="_blank"
          >Das, Niladri Ranajan et al. “DREAMweb: An online tool for graph-based
          modeling of NMR protein structure.” Proteomics, e2300379. 17 Apr.
          2024, doi:10.1002/pmic.202300379</a
        >
      </p>
      <p>
        [5]
        <a
          href="https://onlinelibrary.wiley.com/doi/full/10.1002/prot.26439"
          target="_blank"
          >Improved NMR-data-compliant protein structure modeling captures
          context-dependent variations and expands the scope of functional
          inference</a
        >
      </p>
    </div>
  </section>
</div>

{% endblock %}
