{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block lead
%}Something about IMPROViSeD.{% endblock %} {% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />

<style>
  body {
    background-image: linear-gradient(
      to bottom,
      #edeec9 0%,
      #dde7c7 20%,
      #bfd8bd 40%,
      #98c9a3 60%,
      #77bfa3 100%
    );
  }
  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/attachments.png");
  }
  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/bussness-plan.png");
  }
</style>

<div class="col-12 content">
  <div>
    <div class="comic">
      <p class="speech left top">
        Hey MMP9, I've heard you're quite the ECM disruptor. What's your
        mission?
      </p>
      <div class="row">
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/1.png" />
        </div>
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/5.png" />
        </div>
      </div>
      <p class="speech right bottom">
        You heard right! I'm all about clearing paths by breaking down the
        extracellular matrix. But I can't do it alone. What about you, LCN2?
      </p>
    </div>
    <div class="comic">
      <p class="speech left top">
        I'm your partner in crime! I trap iron-loving molecules and help you stay active. When we team up, we can break through any barrier. But when we're unchecked, we contribute to something serious — cancer spread. 
      </p>
      <div class="row">
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/2.png" />
        </div>
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/6.png" />
        </div>
      </div>
      <p class="speech right bottom">
        Right! That's why our interactions are so important to understand. Knowing how we work together can help design inhibitors to stop us from aiding metastasis.
      </p>
    </div>
    <div class="comic">
      <p class="speech left top">
        Exactly! With <b>IMPROViSeD</b>, scientists are visualizing our structure in detail. They're using real data to model how we connect.
      </p>
      <p class="speech right top">
        So, they're creating a blueprint of our partnership?
      </p>
      <div class="row">
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/3.png" />
        </div>
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/7.png" />
        </div>
      </div>
      <p class="speech left bottom">
        Yes, and that blueprint could be the key to disrupting our dangerous dance. It's like turning our strengths against cancer!
      </p>
    </div>
    <div class="comic">
      <p class="speech center top">
        Here's to science — revealing our secrets to save lives!
      </p>
      <div class="row">
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/4.png" />
        </div>
        <div class="col-6 character">
          <img src="https://static.igem.wiki/teams/5346/comic/8.png" />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
