{% extends "layout.html" %} {% block title %}Project Description{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(
      to bottom,
      #edeec9 0%,
      #dde7c7 20%,
      #bfd8bd 40%,
      #98c9a3 60%,
      #77bfa3 100%
    );
  }
  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/attachments.png");
  }
  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/bussness-plan.png");
  }
</style>

<div class="col-md-3 sidebar"></div>
<div class="col-md-9 content">
  <h1>Distance Preserving Transformation</h1>
  As mentioned in <a href="https://2024.igem.wiki/iisc-software/engineering">Engineering cycles</a> we divide the problem of modeling the
  structure for the complex into two steps:
  <ul>
    <li>
      Localization: Compute structure for the hypothetical framework which
      supports the subunits.
    </li>
    <li>
      Registration: Align the subunits together with the hypothetical
      substructure.
    </li>
  </ul>

  One of the first steps is to characterize the set of transformations that the
  inter atomic distances and angle for the individual subunits do not undergo
  alterations. Note that they should not suffer any deformation. In other words,
  the subunits must behave as rigid bodies. Such rigid body transformations can
  be proved to be composed of only rotation/reflection and translations.

  <h1>Solving the Localization Problem</h1>
  For solving the localization problem we do temporary mapping of CA atoms
  corresponding to residues involved in the crosslinks. Generally they are less
  than 15 in number.
  <ul>
    <li>
      We have used scipy library for Euclidean distance matrix completion (EDMC)
      in python to solve the localization problem. We evaluated the peformance
      with other packages for low rank approximation of EDMC.
    </li>
    <li>
      We observed that scipy's package works best for sparse data. Other
      packages avaible in MATLAB such as the one by Bamdev et al. (2016) works
      better for dense data.
    </li>
    <li>
      Our constraints include crosslink data and equality constraints between CA
      atoms of residues in both subunits, because these are rigid body
      transformations.
    </li>
    <li>
      We run this 5 times per iteration and choose result with minimum error and
      no clashes.
    </li>
  </ul>

  After solving the localization problem we remap the temporary indexes to
  global indexes. Now the obtained coordinates and global indexes represent the
  supporting framework which will be used in Registration.

  <h1>Registering the Subunits</h1>
  We use our One-Shot Registration Algorithm to register the subunits. Our
  inputs are 3 rigid bodies in this case
  <ul>
    <li>Subunit 1</li>
    <li>Subunit 2</li>
    <li>Supporting Framework</li>
  </ul>
  Inputs will be in the format of Coordinates and Index files per subunit. In
  order to circumvent the problem of optimization over the non-convex set of
  rigid body, motions, a non-linear formulations using "Semidefinite
  Programming" (Chaudhury et al. 2014) is used. We use the MOSEK library in C++
  to solve this problem.

  <h1>Flip Refinement</h1>
  After registration we need to check if the subunits are in correct
  orientation. Recall from the "Engineering cycles", that although geometrically
  mirror images have similar inter-atomic distances, one of the instances do not
  occur in nature. We use the flip refinement algorithm to check this. The
  operation was coded in Python. Here is a visualization of the flip refinement.

  <h1>Validation</h1>
  We validated our structures on the basis of percentage of satisfied
  crosslinks. A crosslink is violated if it exceeds 35 angstroms.

  <h1>System specfication</h1>
  The implementation, experimentation, and data analysis was performed on a
  x86_64, 64 bit processor having "12th Gen Intel(R) Core(TM) i9" CPU, having 24
  cores, operating at a maximum clock speed of 5.2 GHz. The size of RAM was 64
  GB.
</div>

{% endblock %}
