{% extends "layout.html" %} {% block title %}Inclusivity{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(to bottom,
        #FFF7D1 25%,
        #FFECC8 50%,
        #FFECC8 75%,
        #FFB0B0 100%);
  }

  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/inclusivity-img1-removebg-preview.png");
  }

  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/inclusivity-img2-removebg-preview.png");
  }

  .presentation {
    width: 100%;
    height: 600px;
  }
</style>

<div class="col-md-3 sidebar">

</div>
<div class="col-md-9 content">

  <h1>Collab with Steam Vision Foundation and Ladakh Science Foundation</h1>

  <p>
    Our iGEM team collaborated with two science foundations to promote synthetic
    biology and computational biology across schools and colleges. Our goal was to
    ensure that students from diverse backgrounds had the opportunity to engage
    with these fields, sparking interest and providing educational experiences
    regardless of their prior exposure. The participants were students from
    Ladakh, Srinagar and Jammu, Madhya Pradesh, Assam, Delhi, Uttar Pradesh,
    Bengaluru, Meerut and more.
  </p>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/ideathon/india-map-with-bg-removebg-preview.png"
      alt="India Map Locations" />
    <figcaption>Location of registered students all over India</figcaption>
  </figure>
  <p>
    To reach different age groups effectively, we tailored our programs to suit
    their learning needs. For high school students (classes 9 through 12), we
    organized two sessions called "Beyond the Microscopes," offered both online
    and offline. These sessions were designed to move beyond conventional textbook
    teaching, introducing students to real-world applications of synthetic biology
    and computational biology. We emphasized hands-on learning, helping students
    visualize DNA and protein structures through tools like PyMOL, computational
    tools to translate DNA fragments.
  </p>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/beyond-the-microscope/beyond-the-microscope-poster.jpg"
      alt="Beyond the Microscope Poster" />
    <figcaption>Beyond The Microscope Poster</figcaption>
  </figure>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/beyond-the-microscope/beyond-the-microscope-meeting-ss.jpg"
      alt="Beyond the Microscope Session" />
    <figcaption>Beyond The Microscope Session</figcaption>
  </figure>
  <p>
    For younger students in grades 5 through 8, we developed an interactive
    program called "BioMania." This initiative made learning fun, simplifying
    complex concepts in biology and encouraging students to think like young
    scientists. Through engaging craft activities, we aimed to cultivate curiosity
    and inspire these students to explore science further in the future.
  </p>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/biomania/biomania-poster.jpg" alt="Biomania Poster" />
    <figcaption>BioMania Poster</figcaption>
  </figure>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/biomania/booklet-collage.png" alt="BioMania Booklet Collage" />
    <figcaption>BioMania - The activity books.</figcaption>
  </figure>
  <p>
    For college students, we took a different approach by hosting a Tech-Bio
    Ideathon." This event encouraged participants to think critically and come up
    with innovative solutions to problems in synthetic biology. It was an
    opportunity for students to apply what they had learned in a creative,
    collaborative environment, connecting biology with real-world challenges. The
    judges for this ideathon were people from across industries and academia
    including professors, entrepreneurs, PhD students, doctors etc. We had maximum
    participation by women showcasing their growing interest in STEM. By fostering
    a space for innovative thinking, we aimed to empower college students to
    explore synthetic biology in a way that could lead to tangible contributions
    in the field.
  </p>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/ideathon/ideathon-poster.jpg" alt="Tech-Bio Ideathon Poster" />
    <figcaption>Tech-Bio Ideathon Poster</figcaption>
  </figure>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/ideathon/stats-of-ideathon.jpg" alt="Gender Ratio Ideathon Stats" />
    <figcaption>Gender Ratio Statistics for Tech-Bio Ideathon</figcaption>
  </figure>
  <p>
    Through these outreach efforts—spanning younger students to college-level
    thinkers— we aimed to make synthetic biology accessible, exciting, and
    inclusive. By conducting sessions across age groups and using both online and
    offline formats, we ensured that students from different backgrounds,
    geographical areas, and educational levels could participate and feel inspired
    to be part of the future of science.
  </p>
  <p>
    <iframe src="https://static.igem.wiki/teams/5346/ideathon/ideathon-event-slides.pdf" class="presentation"></iframe>
  </p>
  <h1>Sowing seeds for future iGEMers</h1>
  <p>
    Our team is not only focused on promoting Synthetic and Computational Biology
    but also committed to fostering future iGEMers at IISc Bengaluru. By involving
    first-year undergraduates in a collaborative project, we provided hands-on
    experience that blended Engineering and Science to create meaningful software
    solutions.
  </p>
  <p>
    The project introduced key topics like protein structures and functionalities,
    alongside practical tools like PyMOL for visualization. We also emphasized
    core software engineering skills such as Python packaging, Git, and
    command-line tools. This inclusive approach led to the development of Bept, a
    user-friendly tool for protein electrostatics aimed at benefiting the
    scientific and the iGEM community. For more information, visit our official
    <a href="https://github.com/IISc-Software-iGEM/bept">Github Page</a>.
  </p>
  <figure>
    <img src="https://static.igem.wiki/teams/5346/cli/cli-inclusivity-team.png" alt="Bept Team" />
    <figcaption>Team working together for building BEPT</figcaption>
  </figure>

</div>

{% endblock %}