{% extends "layout.html" %} {% block title %}Medals{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(
      to bottom,
      #5cfdde 0%,
      #aefeee 20%,
      #f9537b 40%,
      #fba4b9 60%,
      #ffe4eb 100%
    );
  }
  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/medal-1-removebg-preview.png");
  }
  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/medal-2-removebg-preview.png");
  }
</style>

<div class="col-md-3 sidebar">
  <ul>
    <li><a href="#background" class="button">Background</a></li>
    <li><a href="#approach" class="button">Approach</a></li>
    <li><a href="#inspiration" class="button">Motivation</a></li>
    <li>
      Blah and Oof
      <ul>
        <li><a href="#background" class="button">Background</a>
        
      <ul>
        <li><a href="#background" class="button">Background</a></li>
        <li><a href="#approach" class="button">Approach</a></li>
        <li><a href="#inspiration" class="button">Motivation</a></li>
        <li><a href="#references" class="button">References</a></li>
      </ul>
    </li>
        <li><a href="#approach" class="button">Approach</a></li>
        <li><a href="#inspiration" class="button">Motivation</a></li>
        <li><a href="#references" class="button">References</a></li>
      </ul>
    </li>
    <li><a href="#references" class="button">References</a></li>
  </ul>
</div>
<div class="col-md-9 content">

<h1>Medals</h1>
<h2>Bronze</h2>
<figure>
  <img
    src="https://static.igem.wiki/teams/5346/medals/medal-bronze.png"
    alt="Bronze Medal"
  />
  <figcaption>Bronze Medal</figcaption>
</figure>
<ol>
  <li>
    Wiki: We've created a comprehensive wiki to explain our project and make it
    accessible to a wider audience.
  </li>
  <li>
    Project Promotion Video: This short video offers a quick overview of our
    project, designed to capture interest and highlight key features.
    <a href="https://video.igem.org/w/c63c21df-a4c6-4a07-886e-6174e48927c9"
      >Link</a
    >
  </li>
  <li>
    Presentation Video: In this 15-minute video, we delve into all aspects of
    our project, which will be used by the judges during the evaluation process.
  </li>
  <li>
    Judging Form: We have completed and submitted the required judging form.
  </li>
  <li>
    Judging Session: We will participate in the in-person judging sessions at
    the Grand Jamboree.
  </li>
  <li>
    Attributions: The new standard attributions page, introduced this year, has
    been completed to acknowledge all individuals and organizations who
    contributed to our project. Link:
    <a href="https://2024.igem.wiki/iisc-software/attributions"
      >Attributions | IISc-Software - iGEM 2024</a
    >
  </li>
  <li>
    Project Description: Our project description, including the motivation
    behind it, the problem we are addressing, and the solutions we are
    proposing, is fully documented on our Project Description Page. Link:
    <a href="https://2024.igem.wiki/iisc-software/description"
      >Project Description | IISc-Software - iGEM 2024</a
    >
  </li>
  <li>
    Contribution: We have detailed all our contributions to the iGEM community,
    with the aim of supporting future iGEM teams. Link: <a href="https://2024.igem.wiki/iisc-software/contribution"> Contribution |
    IISc-Software - iGEM 2024 </a>
  </li>
</ol>

<h2>Silver</h2>
<figure>
  <img
    src="https://static.igem.wiki/teams/5346/medals/medal-silver.png"
    alt="Silver Medal"
  />
  <figcaption>Silver Medal</figcaption>
</figure>
<ol>
  <li>
    Engineering: We completed several iterations of the Design-Build-Test-Learn
    cycle throughout our processes, leading to successful results. These
    iterations are thoroughly detailed on our Engineering Success page link:
    <a href="https://2024.igem.wiki/iisc-software/engineering"
      >Engineering Success | IISc-Software - iGEM 2024</a 
  </li>
  <li>
    Human Practices: We conducted a range of human practices activities,
    gathering valuable feedback to improve our project. These activities
    included outreach efforts to engage the community, raise awareness about
    computational biology and synthetic biology, and initiate thought-provoking
    discussions on the challenges and potential solutions related to biofuels.
    Full details can be found on the linked page. Link:
    <a href="https://2024.igem.wiki/iisc-software/human_practices"
      >Human Practices | IISc-Software - iGEM 2024</a
  </li>
  <li>All bronze medal criteria.</li>
</ol>

<h2>Gold</h2>
<figure>
  <img
    src="https://static.igem.wiki/teams/5346/medals/medal-gold.png"
    alt="Gold Medal"
  />
  <figcaption>Gold Medal</figcaption>
</figure>
  <ol>
    <li>All bronze and silver medal criteria.</li>
    <li>
      For the three special prizes, we have focused on achieving excellence in:
    </li>
  </ol>

  <h3>Best Education:</h3>
  <p>
    Education and outreach are fundamental values integral to the iGEM mission,
    and we embraced these ideals through a comprehensive and inclusive approach.
    Our initiatives targeted a wide array of students, ranging from aspiring
    young scientists to high school and undergraduate learners, including those
    from economically and socially marginalized backgrounds. We organized a
    variety of activities, such as the Tech-Bio Ideathon and informative
    sessions on synthetic and computational biology, to engage participants from
    all backgrounds.
  </p>
  <p>
    We extended our outreach efforts to the broader iGEM community and society
    at large too. This involved hosting a workshop on molecular dynamics and
    PyMOL modeling for other iGEM teams, participating in the All India iGEM
    Meet, and launching a series of talks designed to raise awareness and
    encourage discussions on protein modeling and computational biology
    research, along with their practical applications. To maximize our impact,
    we also partnered with science foundations and several student-led clubs at
    our institute.
  </p>
  <p>
    We are confident that we have successfully fulfilled the criterion of
    education and outreach by fostering awareness and learning across diverse
    segments of society. Throughout our endeavors, we emphasized inclusivity and
    maintained a thoughtful, well-rounded approach.
  </p>
    <a href="https://2024.igem.wiki/iisc-software/education"
      >Education | IISc-Software - iGEM 2024</a>
  <h3>Best Inclusivity:</h3>
  <p>
    Inclusivity is a core principle of the iGEM mission, and we are dedicated to
    ensuring that our initiatives reach individuals from various age groups,
    genders, and diverse backgrounds. Our sessions were specifically designed to
    engage participants from middle school to college, offering tailored
    sessions that cater to different learning needs. We prioritized inclusivity
    by actively encouraging the participation of underrepresented groups
    including students from economically disadvantaged communities.
    Additionally, we were proud to see a significant increase in women's
    participation in the ideathon, reflecting our commitment to fostering gender
    inclusivity and empowering female students to engage in STEM fields.
  </p>
  <p>
    To further enhance our outreach, we developed an accessibility tool aimed at
    improving website usability for individuals with various disabilities. This
    tool ensures that our educational resources are more approachable and
    comprehensible, enabling all users to access valuable information without
    barriers.
  </p>
  <p>
    In addition, we created a command-line tool for protein electrostatics
    analysis, designed to assist researchers and students at all skill levels.
    This tool simplifies complex calculations, making it easier for individuals
    to engage with protein analysis regardless of their technical background.
    Through these initiatives, we have not only fostered a more inclusive
    environment within our project but have also laid the groundwork for a
    broader, more accessible scientific community. We believe our commitment to
    inclusivity has enriched our work, allowing us to inspire and empower a
    diverse range of participants in the exciting fields of synthetic and
    computational biology.
  </p>
    <a href="https://2024.igem.wiki/iisc-software/inclusivity"
      >Inclusivity | IISc-Software - iGEM 2024</a>

<h3>Best Model:</h3>

</div>

{% endblock %}
