{% extends "layout.html" %} {% block title %}Model{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(to bottom,
        #b09e99 0%,
        #fee9e1 20%,
        #fad4c0 40%,
        #64b6ac 60%,
        #64b6ac 100%);
  }

  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/model-1-removebg-preview-1.png");
  }

  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/model-2-removebg-preview.png");
  }
</style>

<div class="col-md-3 sidebar">
</div>
<div class="col-md-9 content">

  <h1>Integrated Iterative Approach</h1>
  <p>The proposed model, termed IMPROVISeD, adopts an integrated, multi-step iterative approach, which is well-aligned
    with the concept of "integrative modelling." This approach mimics the scientific process—collecting experimental
    data, proposing hypotheses, and refining models in an iterative manner.</p>

  <p>The challenges of computing optimal orientations for subunits forming protein complexes, is broken down into
    well-known mathematical problem of <b>"Graph-embedding in Euclidean space"</b> and <b>"Multiview registration"</b>
    in computer
    vision. This not only makes the pipeline robust, but helps us avert the computational overhead of starting with
    numerous random starting orientations. We lay out the steps involved in the IMPROViSeD pipeline below.
  </p>
  <h2>Localization</h2>
  <p>Using a supporting structure composed of C-alpha atoms, the model identifies
    plausible alignments while maintaining distance constraints.</p>


  <h2>One-Shot Registration</h2>
  <p>The model performs a global alignment of the protein subunits to the
    supporting structure, reducing computational cost compared to traditional pairwise alignment approaches that
    accumulate errors.</p>

  <h2>Flip Refinement</h2>

  <p>By incorporating a mirror reflection step, the method corrects for potential
    symmetry-related errors, ensuring biologically valid configurations.</p>
  <h2>Iterative Conformation Generation</h2>
  <p>The model generates multiple conformations to account for
    the dynamic nature of proteins, enhancing the overall robustness of the resulting models.</p>

  <p>This multi-cycle process allows for rapid convergence to a solution that fits experimental crosslinking data,
    resulting in a highly refined model.</p>

  <figure>
    <img src="https://static.igem.wiki/teams/5346/iterations.png" id="flowchart" alt="" />
    <figcaption>
      Simplified Flowchart for IMPROViSeD. The subunits are oriented in multiple iterations. Each resulting from a
      subset of crosslinks, followed by localization and registration. The iterations proceed in parallel. The structures without clashes while
      satisfying the crosslinks gives final results.
    </figcaption>
  </figure>


  <h1>Computational Efficiency</h1>
  <p>The method addresses the common problem of computational cost by breaking the modelling into different cycles and
    utilizing distance-preserving transformations through rigid body motions.</p>

  <h2>Optimization on \(\mathbb{SE}(3)\)</h2>
  <p>The algorithm takes advantage of the mathematical properties of \(\mathbb{SE}(3)\) to
    efficiently compute rigid body motions, ensuring distance preservation without deformation.</p>

  <h2>Semi-Definite Programming</h2>
  <p>A non-linear optimization formulation known as semi-definite
    programming is used to solve the registration problem, providing an optimal solution with reduced computation.</p>


  <h2>Parallel Execution</h2>
  <p>The iterative steps proceed in parallel, allowing the model to generate
    multiple conformations simultaneously, reducing overall computation time.</p>

  <h1>Practical Applications and Novelty</h1>


  <h2>Handling Experimental Noise</h2>
  <p>The model includes the uncertainty inherent in crosslink data,
    effectively integrating noise into the optimization to create more biologically realistic structures.</p>

  <h2>Global Alignment for Accuracy</h2>
  <p>The global alignment of all subunits ensures that the final
    configuration is accurate and optimally aligned.</p>

  <h2>Generation of Hypothetical Contact Points</h2>
  <p>The use of hypothetical supporting structures allows
    for the exploration of multiple orientations and predictions of new interfaces, which is valuable for artificial
    drug design.</p>

  <h1>Experimental Validation and Refinement</h1>
  <p>The proposed method was validated using experimental data from protein complexes Ribonuclease Inhibitor Complexed
    with Ribonuclease A (PDB 1DFJ). The model showed that it could reconstruct protein structures in a single
    alignment step and provided quantitative metrics like RMSD to verify the accuracy of predictions.</p>
  <p>Additional energy minimization step ensures the thermodynamic stability of the final model, allowing
    researchers to obtain reliable, biologically relevant conformations.</p>

  <h1>Comprehensive Post-Processing</h1>
  <p>The energy minimization after alignment ensures that the modeled protein structures are not only geometrically
    accurate but also energetically favorable. This final refinement step makes the model output suitable for downstream
    applications, such as structure-based drug design or functional analysis.</p>

  <h1>Key Highlights for the Best Model Award Submission</h1>
  <ol>
    <li><strong>Unique Iterative Workflow</strong>: IMPROVISeD integrates localization, registration, flip refinement,
      and parallel iteration—ensuring efficient and accurate protein modelling.</li>
    <li><strong>Mathematical Rigor and Flexibility</strong>: The utilization of \(\mathbb{SE}(3)\) and semi-definite
      programming not
      only offers computational efficiency. Additional corrections ensure biological relevance of the structures.</li>
    <li><strong>Practical Relevance</strong>: The ability to handle experimental uncertainty and generate biologically
      plausible hypothetical interfaces positions this model as a valuable tool in biomedicine, especially in drug
      discovery.</li>
    <li><strong>Efficiency and Scalability</strong>: The parallel processing capability makes it scalable for modelling
      large protein complexes, setting it apart from traditional modelling methods.</li>
  </ol>

  <h1>Conclusion</h1>
  <p>In conclusion, the IMPROViSeD model represents a well-balanced approach combining accuracy, efficiency, and
    practical relevance, making it a competitive choice for the iGEM 2024 Best Model Award. Its ability to handle the
    complexities of protein structure determination with an efficient computational design provides a clear advantage,
    especially in scenarios involving large datasets or where computational resources are limited.</p>

  <figure>
    <img src="https://static.igem.wiki/teams/5346/exp-images/1dfj-movie.gif" id="flowchart" alt="" />
    <figcaption>
      Visual comparison for the results generated by IMPROVeD with that available in the PDB repository (top left),
      shown in similar orientations. The structures derived by our method is able to model new orientations while
      satifying the crosslink data.
    </figcaption>
  </figure>
</div>

{% endblock %}