{% extends "layout.html" %} {% block title %}Proof of Concept{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(
      to bottom,
      #6b9080 0%,
      #a4c3b2 20%,
      #cce3de 40%,
      #eaf4f4 60%,
      #f6fff8 100%
    );
  }
  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/algorithms.png");
  }
  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/pitching.png");
  }
</style>

<div class="col-md-3 sidebar">
  
</div>
<div class="col-md-9 content">
<p>
    We tested IMPROViSeD for the following:
</p>

<h1>
    Modelling Complex Structures from Limited Crosslinks:
</h1>
<p>
    We assessed IMPROViSeD's ability to accurately model complex structures using a limited number of crosslinks, aiming to evaluate its robustness in the face of incomplete or ambiguous data, which is common in experimental settings.
</p>
<figure>
    <img src="https://static.igem.wiki/teams/5346/exp-images/1dfj-proof.png" alt="1dfj">
    <figcaption>1dfj structure modelled using 6 out of 12 crosslinks</figcaption>
</figure>

<h1>
    Predicting New Orientations of Subunits
</h1>
<p>
    We tested the ability of the algorithm to model new orientations of subunits within a complex, distinct from those available in the PDB repository, while still adhering to crosslinking constraints. This evaluated the method's capacity to predict novel interfaces and conformations that are absent from current experimental datasets.
</p>
<figure>
    <img src="https://static.igem.wiki/teams/5346/exp-images/1dfj-proof-2.png" alt="1dfj">
    <figcaption>8/12 crosslinks satisfied with this new orientation</figcaption>
</figure>

<p>
    We further explored the potential of IMPROViSeD to model structures for complexes using both experimental crosslinking data and synthetic data, demonstrating its flexibility and applicability across different data sources to achieve a consistent and accurate structural representation.
</p>
</div>

{% endblock %}
