{% extends "layout.html" %} {% block title %}Safety{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(
      to right,
      #8e9aaf 0%,
      #cbc0d3 20%,
      #efd3d7 40%,
      #feeafa 60%,
      #dee2ff 100%
    );
  }

  #float1 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/overthinking.png");
  }

  #float2 {
    background-image: url("https://static.igem.wiki/teams/5346/doodle/nodes.png");
  }
</style>

<div class="col-md-3 sidebar">

</div>
<div class="col-md-9 content">
  <h1>Cybersafety</h1>

  <ul>
    <li>
      <b>Repository Permissions and Access Control:</b> We implemented strict permissions policies for our GitHub and GitLab repositories to ensure the security of our code and data. Only authorized team members had access to modify or push code, with role-based access controls (RBAC) in place. All changes were carefully reviewed through pull requests. Additionally, all team members had their GitLab access keys secured using two-factor authentication (2FA), adding an extra layer of protection. When working in our common undergraduate computational lab, we ensured that all operations requiring authentication to git repositories were conducted 
      via private user accounts on the machines. Further we made sure that no private or identifying information, including license keys for libraries like MOSEK, was uploaded to the repositories.
      </b>
      </li>
    <li>
      <b>
        Wiki Security and Content Control:
      </b>
      We maintained the integrity of our iGEM wiki by restricting editing rights to approved team members. All modifications were monitored to prevent unauthorized changes and to ensure that no sensitive information was inadvertently disclosed. This helped ensure the accuracy and safety of all content made publicly available on the site.
    </li>
    <li>
      <b>Privacy in Online Sessions:</b> Our team took steps to ensure the privacy of participants in online talks and competition events. All sessions were conducted on secure, encrypted platforms with access restricted to verified individuals. We followed strict data privacy guidelines, ensuring that personal or sensitive information was not recorded or shared without consent. We also maintained strict control over who could join the online sessions.
    </li>
  </ul>

  <h1>Lab Safety</h1>

  <h2>General and Fire safety</h2>

  <p>
  <ul>
    <li><b>Fire extinguishers and Safety equipment:</b> The lab is equipped with multiple fire extinguishers, and each is
      strategically located
      near workstations and exits. The team members have received training on the proper use of fire extinguishers, and
      inspections are routinely
      conducted to ensure they are in working order. </li>
    <li><b>Fire Alarm Systems:</b> The lab is fitted with a well-maintained fire alarm system. In case of fire, audible alarms
      provide
      early warning, and members are trained to evacuate promptly along directed routes to safe assembly points.</li>
    <li><b>Evacuation Plans and Routes:</b> The lab complies with institutional evacuation procedures, and team members are
      familiar
      with escape routes. Fire drills are conducted periodically to reinforce these protocols.</li>
    <li><b>Storage of Combustible Materials:</b> Combustible materials are stored in designated fire-resistant storage units,
      reducing the risk of accidental fires.</li>
  </ul>
  </p>

  <h2>Chemical Safety </h2>

  <p>
  <ul>
    <li><b>Chemical Fume Hood Usage:</b> All experiments involving hazardous chemicals, including volatile and toxic
      substances, were conducted within a chemical fume hood.
      For our project, we were working with chemicals such as acetonitrile, dithiotreitol, iodoacetamide, trifluoro
      acetic acid, formaldehyde, beta mercaptoethanol,
      TEMED, acrylamide, and ammonium persulfate. These chemicals are known to be hazardous and can cause skin
      irritation, respiratory problems, and other health issues.
      The use of chemical fume hood ensured that chemical vapors, dust, and other contaminants were effectively vented
      away from personnel and the lab environment.
      The fume hood was routinely inspected to ensure airflow and filtration were working optimally.</li>
    <li><b>MSDS Documentation:</b> Material Safety Data Sheets (MSDS) for every chemical used in the lab were maintained and kept
      easily accessible.
      These data sheets provided critical information on safe handling procedures, potential hazards, and appropriate
      emergency responses specific to
      each chemical that was being used for our project</li>
    <li><b>Chemical Segregation and Storage:</b> In compliance with safety protocols, incompatible chemicals were stored in
      separate, clearly labeled
      cabinets to avoid hazardous reactions. Flammable chemicals were stored in fireproof cabinets, while corrosive
      substances were secured in chemically resistant
      containers.</li>
    <li><b>Chemical Waste Management:</b> Waste from chemical experiments was properly segregated and stored in designated
      containers ( like organic and inorganic waste containers)
      before being disposed of with the help of Indian Institute of Science's Biohazard and Chemical waste disposal
      team.</li>
  </ul>
  </p>


  <figure>
    <img src="https://static.igem.wiki/teams/5346/safetypage/safety.png" alt="Safety Measures">
    <figcaption>(1) Working in the lab, (2)Biosafety Cabinet, (3) Chemical Fume hood, (4) Lab safety plan,
      (5) Lab safety plan and emergency details at the lab entrance, (6) First Aid kit
      next to eye wash/hand wash station.</figcaption>
  </figure>

  <h2>Biological Safety </h2>

  <p>
  <ul>
    <li><b>Work with Purified Proteins:</b> All procedures involving purified proteins (LCN2 and MMP9), were performed in a
      certified
      Biosafety Level 2 (BSL-2) cabinet. This practice was done to ensure sample integrity, prevent contamination,
      obtain
      clean mass spectrometry results and also protect personnel from any harmful exposure. The BSL-2 cabinet provided a
      controlled
      environment where airflow was carefully managed to prevent contamination.</li>
    <li><b>Biosafety Protocols:</b> The lab followed strict biosafety protocols, including the proper handling and disposal of
      biohazardous materials
      such as used pipette tips, gloves, and biological reagents. The lab has provisions for autoclving all
      biological waste before disposal to eliminate the risk of contamination.</li>
    <li><b>PPE and Hygiene:</b> Lab personnel were required to wear personal protective equipment (PPE), including gloves, lab
      coats, and in some
      cases, face shields, to prevent exposure to the samples. This was done in order to maintain sample purity as
      keratin contamination
      is a major problem during mass spectrometry experiment. In addition, handwashing and other hygiene protocols were
      strictly enforced after each procedure.</li>
    <li><b>Training on Biological Hazards:</b> All students and personnel working with biological materials were trained in
      biosafety practices,
      decontamination procedures, and emergency spill responses.</li>
  </ul>
  </p>

  <h2>Electrical Safety </h2>

  <p>
  <ul>
    <li><b>Equipment Inspection and Certification:</b> All electrical instruments, including speed vaccum dryer, centrifuges,
      incubators, were inspected regularly for signs of wear and tear. Equipment was certified for use in a wet lab
      environment, ensuring compliance with safety standards.</li>
    <li><b>Grounding and Surge Protection:</b> Electrical equipment was properly grounded to prevent surges, and surge
      protectors
      were used to safeguard sensitive equipment from electrical fluctuations.</li>
    <li><b>Training in Electrical Hazards:</b> Lab personnel received training on the safe use of electrical equipment and were
      informed of emergency protocols in case of electrical malfunctions or fires.</li>
  </ul>
  </p>

  <hr>

  <p>
    Our lab work strictly follows institutional safety protocols that align with iGEM's safety guidelines. Our
    activities, which included the
    cross-linking mass spectrometry work, were also in compliance with the guidelines set by institutional safety board
    OLSEH.
    IMPROViSeD prioritizes ethical research and environmental responsibility, ensuring data is handled with care and no
    harm is
    caused to the environment. Additionally, all safety measures were transparently reported to iGEM, meeting global
    safety and ethical standards.
  </p>
</div>

{% endblock %}