{% extends "layout.html" %} {% block title %}Team Members{% endblock %}
{% block lead %}{% endblock %} {% block page_content %}

<style>
  body {
    background-image: linear-gradient(to bottom,
        #7084e7 0%,
        #9385e3 20%,
        #b786e0 40%,
        #da88dc 60%,
        #fe89d8 100%);
  }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">

<div class="col-12 content">
    <h1>Team Members</h1>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/aditya-arsh.jpg" alt="aditya-arsh" />
      <figcaption class="caption">Aditya Arsh</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/akshita.jpg" alt="akshita" />
      <figcaption class="caption">Akshita Sansugu Palaniswami</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/anirudh-gupta.jpg" alt="anirudh-gupta" />
      <figcaption class="caption">Anirudh Gupta</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/ayush-raina.jpg" alt="ayush-raina" />
      <figcaption class="caption">Ayush Raina</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/balaji.jpg" alt="balaji" />
      <figcaption class="caption">Balaji R</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/kuldeep-jatav.jpg" alt="kuldeep-jatav" />
      <figcaption class="caption">Kuldeep Jatav</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/mrigank-pawagi.jpg" alt="mrigank-pawagi" />
      <figcaption class="caption">Mrigank Pawagi</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/naveen-maurya.jpg" alt="naveen-maurya" />
      <figcaption class="caption">Naveen Maurya</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/rahul-chavan.jpg" alt="rahul-chavan" />
      <figcaption class="caption">Rahul Chavan</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/saksham-maitri.jpg" alt="saksham-maitri" />
      <figcaption class="caption">Saksham Maitri</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/sushmit-roy.jpg" alt="sushmit-roy" />
      <figcaption class="caption">Sushmit Roy</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/trishna.jpg" alt="trishna" />
      <figcaption class="caption">Trishna Kodamasingh</figcaption>
    </div>
    <div class="people-img">
      <img src="https://static.igem.wiki/teams/5346/people/yash-kamble.jpg" alt="yash-kamble" />
      <figcaption class="caption">Yash Kamble</figcaption>
    </div>
</div>

{% endblock %}