@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    list-style-type: none;
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    background-color: black;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient-text 0.3s forwards;
}

@keyframes gradient-text {
    0% {
        background-image: linear-gradient(to right, #1117b5, #e700ff);
    }
    100% {
        background-image: linear-gradient(to right, #52009e, #e700ff);
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    min-width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    border-radius: 5px;
    z-index: 1;
    list-style-type: none; /* Remove dots from dropdown items */
}

.nav-item.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: black;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient-text 0.3s forwards;
}

.underline {
    height: 2px;
    background-color: white;
    width: 0;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
}

/* Content below the Navbar */
.main-content {
    margin-top: 80px; /* Adjust based on the height of the navbar */
}

.header-content {
    text-align: center;
    margin-top: 100px; /* Adds space above the header content */
}

.header-content h1.Education {
    font-family: 'Varela Round', serif;
    color: darkblue;
    font-size: 6em;
    margin-top: 300px;
    margin-bottom: 300px;
    padding: 20px ;
}

.content-container {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

.Visit {
    padding: 10px 3%;
    color: #1117b5;
    font-size: 4em;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}

.text {
    font-family: "Poppins", serif;
    font-size: 1.1em;
    font-weight: 300;
    justify-content: center;
    text-align: left;
    padding: 5% 5%;
    max-width: 100%;
    color: black;
}

/* Footer */
footer {
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logos img {
    height: 50px;
    margin-right: 20px;
}

.mail {
    color: white;
    margin-right: 40px;
}

.links {
    position: relative;
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove default underline */
}

.links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the height of the underline */
    bottom: 0;
    left: 50%;
    background-color: lawngreen;
    transition: width 0.2s ease, left 0.2s ease;
}

.links:hover::after {
    width: 100%;
    left: 0;
}

.separator {
    width: 100%;
    border: 1px solid grey;
    margin: 10px 0;
}

.license {
    text-align: center;
}
