body {
    background-image: linear-gradient(to bottom, black 100vh, #444);
}

.bg-hero h1 {
    font-size: 0;
    background-image: url(https://static.igem.wiki/teams/5346/logo/haa.png);
    height: 50vh;
    width: 95%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    position: relative;
}
.bg-hero p {
    color: white !important;
    font-size: 2em;
    z-index: 9;
    position: relative;
    text-shadow: 2px 2px 4px #000;
}

.bg-hero {
    background-image: url('https://static.igem.wiki/teams/5346/lcn2-mmp9-5-compressed.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
}
.bg-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjusts the opacity */
    z-index: 1;
}

.comic {
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
}

.comic img {
  width: 100%;
  max-width: 500px;
  display: block;
}
/* float right for odd images */
.comic > .character:nth-child(odd) img {
  float: right;
  margin-right: 10px;
}
/* float left for even images */
.comic > .character:nth-child(even) img {
  float: left;
  margin-left: 10px;
}
.comic {
  padding: 0;
  margin: 15px 0;
}
.comic:first-child {
  margin-top: 0;
}
.comic:last-child {
  margin-bottom: 0;
}

.comic:nth-child(4n + 1) {
  background-image: radial-gradient(circle, yellow, orange);
}

.comic:nth-child(4n + 2) {
  background-image: radial-gradient(circle, lightblue, deepskyblue);
}

.comic:nth-child(4n + 3) {
  background-image: radial-gradient(circle, palegreen, yellowgreen);
}

.comic:nth-child(4n + 4) {
  background-image: radial-gradient(circle, lightcoral, tomato);
}

.comic .speech {
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 12px;
  display: block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: relative;
  max-width: 90%;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}
.comic .speech.left {
  float: left;
}
.comic .speech.right {
  float: right;
}

.comic .speech::before {
  border: solid 12px transparent;
  border-left: solid 12px #000;
  border-top: solid 12px #000;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.comic .speech.left.top::before {
  bottom: -24px;
  left: 24px;
  transform: skew(50deg);
}
.comic .speech.right.top::before {
  bottom: -24px;
  right: 24px;
  transform: skew(-15deg);
}
.comic .speech.left.bottom::before {
  top: -24px;
  left: 24px;
  transform: skew(-15deg) rotate(180deg);
}
.comic .speech.right.bottom::before {
  top: -24px;
  right: 24px;
  transform: skew(50deg) rotate(180deg);
}
.comic .speech.center {
    text-align: center;
}
.comic .speech.center.top {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.comic .speech.center.top::before {
  display: none;
}

.comic .speech::after {
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.comic .speech.left.top::after {
  bottom: -19px;
  left: 24px;
  transform: skew(50deg);
}
.comic .speech.right.top::after {
  bottom: -19px;
  right: 25px;
  transform: skew(-15deg);
}
.comic .speech.left.bottom::after {
  top: -19px;
  left: 25px;
  transform: skew(-15deg) rotate(180deg);
}
.comic .speech.right.bottom::after {
  top: -19px;
  right: 23px;
  transform: skew(50deg) rotate(180deg);
}
.comic .speech.center.top::after {
  display: none;
}

.comic .row {
  width: 100%;
}
.comic::after {
  content: " ";
  clear: both;
  display: table;
}

.card {
    margin-top: 20px;
}
.card h1 {
    text-align: center;
}
.card:nth-child(3n+1) {
    /* orange gradient */
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.card:nth-child(3n+2) {
    /* purple gradient */
    background: linear-gradient(135deg, #c3cfe2 0%, #c07fc1 100%);
}
.card:nth-child(3n) {
    /* green gradient */
    background: linear-gradient(135deg, #52c234 0%, #10dbd9 100%);
}
